<div class="search">

  <div class="search__head">
    Search Items
  </div>

  <div class="search__input">
    <form [formGroup]="form" (ngSubmit)="onSearch()">
      <input type="text" formControlName="name" placeholder="Type to search">
      <button type="submit">Search</button>
    </form>
  </div>

  <div class="search__results">
    <p>
      Number of items retrieved: {{searchResult.length}}
    </p>

    <table *ngIf="searchResult.length > 0">
      <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Available</th>
      </thead>
      <tbody>
        <tr *ngFor="let i of searchResult">
          <td>{{i.name}}</td>
          <td>{{i.price}}</td>
          <td>{{i.available}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
