name: ci

on: push

env:
  GROUP: senacor
  COMMIT_SHA: ${{ github.sha }}
  REPO: simple-consumer
  DOCKER_NAME: ghcr.io/${{ github.repository }}
  CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      # Contra: Container runs this way not scoped to actual IT execution
      # TODO PSI: After versioning branch in provider use correct version here:
      provider:
        image:  ghcr.io/senacor/simple-provider:8f414ad9db3eb54cda907efe522a52f7c6ba3782
        ports:
          - 8080:8080
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - run: npm ci

      - run: mkdir coverage && chmod -R 777 coverage

      # Potential improv: Also run IT in UT containter to save time, since UT container is based on chrome
      - name: Unit tests
        run: npm run test:github

      - name: lits report
        run: ls

      - name: Update code coverage
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r coverage/lcov.info

      - name: Integration tests
        # Pro:
        # - Cypress action provides means to also run tests in chrome browser (instead of Electron)
        # - Lots of configuration items
        # Contra: 2 x npm install
        # https://github.com/cypress-io/github-action
        uses: cypress-io/github-action@v2
        with:
          browser: chrome
          start: npm start
          wait-on: 'http://localhost:4200, http://localhost:8080/actuator/health'

      # Pro: "Fast"
      # Contra: Elektron Browser
      #   run: npm run e2e:ci

  docker:
    needs:
      - test
    runs-on: ubuntu-latest
    outputs:
      branch_suffix: ${{ steps.calculate_branch_suffix.outputs.branch_suffix }}
    env:
      PUSH_DOCKER_IMAGE: true
      DOCKER_REGISTRY: ghcr.io
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Calculate branch suffix
        id: calculate_branch_suffix
        run: |
          REF=${{ github.head_ref || github.ref }}
          SUFFIX="main"
          if [ "$REF" != "refs/heads/main" ]; then
            SUFFIX=$(echo $REF | sed -e 's|refs/heads/||g' | sed -e 's|[^[:alnum]]||g' | head -c 20)
          fi
          echo "BASE_HREF=$SUFFIX" >> $GITHUB_ENV
          echo "::set-output name=branch_suffix::$SUFFIX"

      - run: npm ci

      - name: Build dist
        run: npm run dist -- --base-href="${{ env.BASE_HREF }}/"

      - name: Extract branch name
        # if: env.GITHUB_HEAD_REF != 'master'
        # git ls-remote --heads -q | grep $(git rev-parse HEAD) | awk '{print $2}' | sed -e 's|refs/heads/||g' | sed -e 's|/|_|g'
        # https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions
        run: |
          REF=${{ github.head_ref || github.ref }}
          echo "BRANCH_TAG=$(echo $REF | sed -e 's|refs/heads/||g' | sed -e 's|/|_|g')" >> $GITHUB_ENV

      - name: Extract artifact version
        # git ls-remote --heads -q | grep $(git rev-parse HEAD) | awk '{print $2}' | sed -e 's|refs/heads/||g' | sed -e 's|/|_|g'
        # https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions
        run: |
          echo "VERSION_TAG=$(jq -r '.version' package.json)" >> $GITHUB_ENV

      - name: "Docker: Set up QEMU"
        uses: docker/setup-qemu-action@v1

      - name: "Docker: Set up Docker Buildx"
        uses: docker/setup-buildx-action@v1

      - name: "Docker: Login to Container Registry"
        uses: docker/login-action@v1
        if: env.PUSH_DOCKER_IMAGE == 'true'
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.DOCKER_REGISTRY }}

      - name: "Docker: Build and push to Container Registry"
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: |
            ${{ env.DOCKER_NAME }}:${{ env.COMMIT_SHA }}
            ${{ env.DOCKER_NAME }}:${{ env.BRANCH_TAG }}
            ${{ env.DOCKER_NAME }}:${{ env.VERSION_TAG }}
            ${{ env.DOCKER_NAME }}:${{ env.VERSION_TAG }}-${{ env.BRANCH_TAG }}
          push: ${{ env.PUSH_DOCKER_IMAGE }}

  deployment:
    runs-on: 'ubuntu-latest'
    needs:
      - docker
    env:
      AWS_DEFAULT_REGION: eu-west-2
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v2

      - run: echo "$DECRYPT_KEY" > deployment/secrets/ansible-decrypt-pass
        shell: bash
        env:
          DECRYPT_KEY: ${{ secrets.ANSIBLE_DECRYPT_PASS }}

      - name: deploy
        run: |
          aws eks update-kubeconfig \
            --name ${{ secrets.KUBERNETES_CLUSTER_NAME }} \
            --role-arn ${{ secrets.KUBERNETES_CLUSTER_DEPLOY_ROLE }}

          ansible-vault decrypt deployment/secrets/vault --vault-password-file deployment/secrets/ansible-decrypt-pass --output deployment/secrets/secrets-decrypted.yaml

          helm upgrade --install \
            --set image.tag=${{ env.COMMIT_SHA }} \
            --set backend.url=${{ secrets.BACKEND_SERVICE_URL }} \
            --set ambassador.branchBase=${{ needs.docker.outputs.branch_suffix }} \
            --namespace ${{ env.REPO }} \
            -f deployment/${{ env.REPO }}/values.yaml ${{env.REPO}}-${{ needs.docker.outputs.branch_suffix}} deployment/${{ env.REPO }}

  security:
    needs:
      - docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Audit dependencies
        run: npx audit-ci --high

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ env.DOCKER_NAME }}:${{ env.COMMIT_SHA }}"
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
