name: ci

on: push

env:
  GROUP: senacor
  COMMIT_SHA: ${{ github.sha }}
  REPO: simple-consumer

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      # Contra: Container runs this way not scoped to actual IT execution
      provider:
        image:  ghcr.io/senacor/simple-provider:8f414ad9db3eb54cda907efe522a52f7c6ba3782
        ports:
          - 8080:8080
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - run: npm install

      # Potential improv: Also run IT in UT containter to save time, since UT container is based on chrome
      - name: Unit tests
        run: npm run test:github

      - name: Integration tests
        # Pro:
        # - Cypress action provides means to also run tests in chrome browser (statt Electon)
        # - Lots of configuration items
        # Contra: 2 x npm install
        # https://github.com/cypress-io/github-action
        uses: cypress-io/github-action@v2
        with:
          browser: chrome
          start: npm start
          wait-on: 'http://localhost:4200, http://localhost:8080/actuator/health'

      # Pro: "Fast"
      # Contra: Elektron Browser
      #   run: npm run e2e:ci

  docker:
    needs:
      - test
    runs-on: ubuntu-latest
    env:
      PUSH_DOCKER_IMAGE: true
      DOCKER_NAME: ghcr.io/${{ github.repository }}
      DOCKER_REGISTRY: ghcr.io
    steps:
      - uses: actions/checkout@v2

      - run: npm install

      - name: Build dist
        run: npm run dist

      - run: ls -al && ls -al dist

      - name: "Docker: Set up QEMU"
        uses: docker/setup-qemu-action@v1

      - name: "Docker: Set up Docker Buildx"
        uses: docker/setup-buildx-action@v1

      - name: "Docker: Login to Container Registry"
        uses: docker/login-action@v1
        if: env.PUSH_DOCKER_IMAGE == 'true'
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.DOCKER_REGISTRY }}

      - name: "Docker: Build and push to Container Registry"
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: |
            ${{ env.DOCKER_NAME }}:${{ env.COMMIT_SHA }}
          push: ${{ env.PUSH_DOCKER_IMAGE }}
